<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        backupGlobals="false" colors="true"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
        cacheDirectory=".phpunit.cache"
        backupStaticProperties="false"
>
    <coverage includeUncoveredFiles="true">
        <report>
            <clover outputFile="coverage/coverage-clover.xml"/>
            <html outputDirectory="coverage/" lowUpperBound="35" highLowerBound="70"/>
            <text outputFile="php://stdout" showUncoveredFiles="true"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix="php">src</directory>
        </include>
        <exclude>
            <file>src/ServiceProvider.php</file>
        </exclude>
    </source>
</phpunit>